@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
/* body,
#blue,
#gray,
#foot {
  background: url(../images/bg.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

p,
blockquote {
  color: #242424;
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 0.8em 1.2em;
}

.logo {
  width: 90px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hide-mobile {
  display: none;
}

.menu {
  width: 25px;
  margin-top: 45%;
}

.bg {
  width: 100%;
}

.shoe {
  width: 70%;
  margin: 2em auto 2em 25%;
}

.layer2 {
  position: absolute;
  z-index: -1;
  width: 95%;
  margin: 5em auto 0 -75%;
}

.hero p {
  color: white;
}


.subhead {
  color: black;
  position: relative;
  z-index: 3;
}

.subhead {
  font-size: 1.1em;
}

.blue-container {
  width: 100%;
  background: white;
  color: #1a1a1a;
  margin-top: 15%;
  padding: 4em 0 2em;
  z-index: 4;
  /* border-top-left-radius: 40px; */
  /* transform: skewY(-2deg); */
}

/* .blue-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #00c2ff;
  position: absolute;
  top: -39px;
  right: 0;
  z-index: -2;
}
.blue-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: white;
  position: absolute;
  top: -80px;
  right: 0;
  border-radius: 50%;
  z-index: -1;
}

.blue-container ul {
  transform: skewY(2deg);
} */
.blue-container p {
  font-size: 0.8em;
}

.blue-container ul li {
  margin-bottom: 3em;
}

.blue-container ul li p {
  padding: 0 0.5em;
}

.blue-container img {
  width: 60%;
}

.blue-container ul li:nth-child(3) img {
  width: 60%;
}

.gray-container {
  background: whitesmoke;
  padding: 4em 0 2em;
  margin-top: -3%;
  z-index: 4;
}

.gray-container ul li:first-child {
  margin-bottom: 2em;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-weight: bold;
  color: #00c2ff;
}

h2 {
  margin-top: 7%;
}

.container {
  color: #222222;
}

.cta {
  background: #00cc80;
  width: calc(100%-1em);
  display: block;
  color: white;
  border-radius: 20px;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  margin: 3% auto 7%;
  position: relative;
  z-index: 4;
}

.footer-container {
  width: 100%;
  background: whitesmoke;
  color: black;
  text-decoration: none;
  padding: 3em 0;
}

/* 
.footer-container .container {
  transform: skewY(-2deg);
}

.footer-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #3d444a;
  position: absolute;
  top: -39px;
  left: 0;
  z-index: -2;
}
.footer-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: white;
  position: absolute;
  z-index: -1;
  top: -80px;
  left: 0;
  border-radius: 50%;
} */
ul.footer-links {
  margin: 0 auto;
}

ul.footer-links li {
  display: inline-block;
}

ul.footer-links li a {
  color: #222222;
  text-decoration: none;
  -webkit-text-emphasis: none;
          text-emphasis: none;
}

.footer-container p {
  color: #2b2b2b;
  text-decoration: none;
}

nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: #c9c9c9;
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}

nav ul li a {
  color: #030303;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: white;
}

nav ul li a:hover {
  background-color: #c9c9c9;
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1.4em;
}

.exit-btn img {
  width: 15px;
  cursor: pointer;
}

@media only screen and (min-width: 650px) {
  .shoe {
    width: 50%;
  }
  .layer2 {
    width: 50%;
  }
  .layer2 {
    position: absolute;
    z-index: -2;
    margin-left: -50%;
  }
  h1 {
    font-size: 3em;
    margin: 0;
  }
  .subhead {
    font-size: 1.4em;
    margin-bottom: 12%;
  }
  .blue-container {
    margin: 0;
  }
  .blue-container img {
    width: 70%;
  }
  .blue-container ul li:nth-child(3) img {
    width: 70%;
    margin-top: -6px;
  }
  .blue-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blue-container ul li {
    margin-bottom: 0;
  }
  .blue-container ul li p {
    padding: 0 0.8em;
  }
  .gray-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul {
    width: 40%;
  }
}

@media only screen and (min-width: 875px) {
  .layer2 {
    position: absolute;
    z-index: -1;
    width: 80%;
    margin: 4em 0 0 -60%;
  }
  .subhead {
    margin-bottom: 15%;
  }
  .blue-container ul {
    margin: 0 0 4% 0;
  }
  .gray-container ul {
    margin: 4% 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  .cta {
    width: 50%;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .show-desktop {
    display: block;
    margin: 0 auto 13% auto;
  }
  .hide-desktop {
    display: none;
  }
  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    color: white;
    background-color: inherit;
    text-align: left;
    padding: 1em 2em;
  }
  nav ul li a:hover {
    background-color: inherit;
  }
  .scroll {
    margin: 16em auto 2em 47%;
    width: 30px;
    -webkit-animation: move 2s infinite alternate;
            animation: move 2s infinite alternate;
  }
  @-webkit-keyframes move {
    from {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
  @keyframes move {
    from {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
}

@media only screen and (min-width: 1024px) {
  .bg {
    position: absolute;
    z-index: -8;
    margin: -9em 0 0 15%;
    width: 108%;
  }
  .shoe {
    position: absolute;
    z-index: -1;
    width: 110%;
    margin: 24em auto 0 16%;
  }
  .container {
    height: 700px;
    width: 70%;
  }
  .blue-container {
    padding: 7em 0 2em;
  }
  .blue-container ul li p,
  blockquote {
    font-size: 0.9em;
  }
  .gray-container {
    padding: 6em 0 4em;
  }
  h2 {
    margin-top: 4em;
  }
  .blue-container img {
    width: 100%;
  }
  .blue-container ul li:nth-child(3) img {
    width: 100%;
    margin-top: -4px;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 50%;
  }
  .subhead {
    margin-top: 8em;
  }
  .hero p {
    font-size: 1.3em;
    margin: 13em 0 0 2%;
    color: white;
    position: absolute;
    z-index: 4;
  }
  .layer2 {
    position: absolute;
    z-index: -1;
    width: 5%;
    margin: 16em auto 0 16%;
  }
  h1{
    
    width: 80%;
    text-align: left;
    margin: 2em 0 0 -33%;
    color: white;
  }
  .content p
  {
    text-align: left;
    width: 40%;

    margin: 0 0 2em -10%;
    font-size: 0.9em;
    color: white;
  }
  .button{
    margin: 31em 0 0 -1530%;
    width: 150%;
    height: 3em;
    border-radius: 1em;
    border-color: #006eff;
    color: white;
    background-color: #0077ff;
  }
  button:hover{
    background-color: rgb(255, 0, 157);
  }
}
@media only screen and (min-width: 1250px) {
  .button{
    margin-top: 25em;
  }

}
/*# sourceMappingURL=main.css.map */